<%- contentFor('header') %>
<h1><%= locals.title %></h1>
<%- contentFor('main') %>

<form action="/admin/invite" method="POST">
    <fieldset id="invite-fields">
        <legend>Admin Invitation To</legend>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="email">

        <label for="message">Message:</label>
        <input type="text" id="message" name="message" value="You've been invited to be a Jenn Enterprise Admin!">
        <input type="submit" id="submit-invite" name="submit" value="Send!">
    </fieldset>
</form>

<div id="resolve-container">
    <% if (typeof error !== 'undefined' && error) { %>
        
    <ul>
        <li class="error"><%= error %></li>
   
    <% }%> 
    
    <%if(typeof success !== 'undefined' && success) {%>
    
        <li class="success"><%= success %></li>

    </ul>

    <%}%>

</div>